body {
  background: #111;
}

#header_bottom {
  background: #444;
}

.course_nav {
  color: #f4f4f4;
}

.course_nav:hover {
  background: #9a9a9a;
}

.profile_name {
  color: #f4f4f4;
  background: #111;
}

.btn_for_lesson {
  background: #111;
  color: #f4f4f4;
  border: 0.05em solid rgb(235, 235, 235);
}

.normal_text {
  color: #f4f4f4;
}

.theme {
  background-image: url("../sun.png");
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.headings {
  color: #f4f4f4;
}

.tasks_heading {
  background: #111;
  color: #f4f4f4;
  border: 0.05em solid rgb(235, 235, 235);
}

.tasks_heading:hover {
  cursor: default;
}

.tasks {
  background: #111;
  color: #f4f4f4;
  border: 0.05em solid rgb(235, 235, 235);
}

.points {
  background: #111;
  color: #f4f4f4;
}

.dropdown-content {
  background-color: #111;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}

.dropdown-content p {
  color: #f4f4f4;
}

.task_text {
  color: #f4f4f4;
}

textarea {
  border-color: #f4f4f4;
  background: #111;
  color: #f4f4f4;
}

.task_info {
  border-color: #f4f4f4;
}
