body {
  background: #f4f4f4;
}

#header_bottom {
  background: #111;
}

.course_nav {
  color: #f4f4f4;
}

.course_nav:hover {
  background: #606769;
}

.profile_name {
  color: #111;
  background: #f4f4f4;
}

.btn_for_lesson {
  background: white;
  color: #111;
  border: 0.05em solid rgb(20, 20, 20);
}

.normal_text {
  color: #111;
}

.theme {
  background-image: url("../moon.png");
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.headings {
  color: #111;
}

.tasks_heading {
  background: #f4f4f4;
  color: #111;
  border: 0.05em solid rgb(20, 20, 20);
}

.tasks {
  background: #f4f4f4;
  color: #111;
  border: 0.05em solid rgb(20, 20, 20);
}

.points {
  background: #f4f4f4;
  color: #111;
}

.dropdown-content {
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content p {
  color: black;
}
