body {
  margin: 0px;
}

#menu,
#menu li {
  margin: 0;
  padding: 0;
}

#header_bottom {
  background: rgb(20, 20, 20);
}

#menu li {
  display: inline-block;
  text-align: center;
}

.course_nav {
  color: white;
  display: block;
  padding: 5px 15px;
  font-size: clamp(1rem, 3vw, 3rem);
  font-family: "Ibarra Real Nova", serif;
  text-decoration: none;
}

.course_nav:hover {
  background: #606769;
}

.profile_name {
  color: white;
  padding: 5px 5px;
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: "Ibarra Real Nova", serif;
  text-decoration: none;

  float: right;
}

#data {
  display: flex;
  flex-direction: row;
}

.photo {
  margin-left: 2vw;
  border-radius: 50%;
  border: 0.5em solid yellow;
}

.edges {
  background: #606769;
  margin-left: 20vw;
}

.normal_text {
  margin: 0;
  padding: 10px 3em;
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-family: "Ibarra Real Nova", serif;
  text-decoration: none;
}

#under {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

