<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/menu.css" />
    <link rel="stylesheet" href="../static/css/light.css" id="theme-link" />
    <link rel="stylesheet" href="../static/css/lessons.css" />
    <title>Урок первый | Знакомство со средой</title>
  </head>
  <body>
    <div id="menu">
      <div id="header_bottom">
        <nav>
          <ul class="no_margin">
            <li>
              <a class="course_nav" href="#">Обзор курса</a>
            </li>
            <li>
              <a class="course_nav" href="#">О нас</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="info_and_theme">
        <h1 class="headings">Знакомство со средой</h1>
        <div class="theme" id="theme"></div>
      </div>
      <div id="under_info">
        <div class="lesson_tasks">
          <button class="tasks_heading">Задачи</button>
          <button class="tasks">
            Задача1
            <div class="point">Зачёт</div>
          </button>
          <button class="tasks">
            Задача2
            <div class="point">Зачёт</div>
          </button>
          <button class="tasks">
            Задача3
            <div class="point">Зачёт</div>
          </button>
          <button class="tasks">
            Задача4
            <div class="point">Зачёт</div>
          </button>
          <button class="tasks">
            Задача5
            <div class="point">Зачёт</div>
          </button>
        </div>
        <div class="for_menu">
          <div class="dropdown">
            <button
              type="submit"
              onclick="location.href='profile'"
              class="profile_name"
            >
              Даниил Аникин
            </button>
            <div class="dropdown-content">
              <p>Имя: Даниил Аникин</p>
              <p>Почта: anikindaniel2007@gmail.com</p>
              <p>Уроков пройдено:5</p>
              <p>Учитель: Алексей Сигида</p>
              <p>
                <button
                  type="submit"
                  onclick="location.href='leave'"
                  class="leave_btn"
                >
                  Выйти
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var btn = document.getElementById("theme");
      var link = document.getElementById("theme-link");

      btn.addEventListener("click", function () {
        ChangeTheme();
      });

      function ChangeTheme() {
        let lightTheme = "../static/css/light.css";
        let darkTheme = "../static/css/dark.css";

        var currTheme = link.getAttribute("href");
        var theme = "";

        if (currTheme == lightTheme) {
          currTheme = darkTheme;
          theme = "dark";
        } else {
          currTheme = lightTheme;
          theme = "light";
        }

        link.setAttribute("href", currTheme);

        Save(theme);
      }
    </script>
  </body>
</html>
