<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />
    <title>Авторизация | Лицей Академии Яндекса</title>
  </head>
  <body>
    <section>
        <div class="form-box">
            <div class="form-value"><h2>Авторизация</h2>
            <form action="" method="post">
                {{ form.hidden_tag() }}
            <div class="inputbox">
          <p>{{ form.email.label }}<br>
            {{ form.email(type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
                <div class="inputbox">
                <p>
            {{ form.password.label }}<br>
            {{ form.password(type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                    {% endfor %}
                </div>
        <p class="forget">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p >{{ form.submit(type="submit", class="btn") }}</p> <br>
        <div>{{ message }}</div>
                <button
              type="submit"
              onclick="location.href='register'"
              class="btn"
            >
              Зарегестрироваться
            </button>
      </form>
      </div>
      </div>
    </section>
      <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
