<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/menu.css" />
    <link rel="stylesheet" href="../static/css/light.css" id="theme-link" />
    <title>Обзор курса</title>
  </head>
  <body>
    <div id="menu">
      <div id="header_bottom">
        <nav>
          <ul class="no_margin">
            <li>
              <a class="course_nav" href="/">Обзор курса</a>
            </li>
            <li>
              <a class="course_nav" href="/about">О нас</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="info_and_theme">
        <h1 class="headings">Основы программирования на языке Python</h1>
        <div class="theme" id="theme"></div>
      </div>

      <div id="under_info">
        <div class="lesson_btns">
          {% for lesson in lessons %}
          <button
            type="submit"
            onclick="location.href='/lessons/{{6 - loop.index}}'"
            class="btn_for_lesson"
          >
            {{lesson}}
          </button>
          {% endfor %}
        </div>
        <div class="for_menu">
          <div class="dropdown">
            <button
              type="submit"
              onclick="location.href='profile'"
              class="profile_name"
            >
              {{name}}
            </button>
            <div class="dropdown-content">
              <p>Имя: {{name}}</p>
              <p>Эл. почта: {{mail}}</p>
              <p>баллы: {{balls}}</p>
              <p>о вас: {{desc}}</p>
              <p>
                <button
                  type="submit"
                  onclick="location.href='logout'"
                  class="leave_btn"
                >
                  Выйти
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var btn = document.getElementById("theme");
      var link = document.getElementById("theme-link");

      btn.addEventListener("click", function () {
        ChangeTheme();
      });

      function ChangeTheme() {
        let lightTheme = "../static/css/light.css";
        let darkTheme = "../static/css/dark.css";

        var currTheme = link.getAttribute("href");
        var theme = "";

        if (currTheme == lightTheme) {
          currTheme = darkTheme;
          theme = "dark";
        } else {
          currTheme = lightTheme;
          theme = "light";
        }

        link.setAttribute("href", currTheme);

        Save(theme);
      }
    </script>
  </body>
</html>
